<!-- banner -->
<div class="col-md-3 col-sm-6 col-xs-6">
    <div class="banner banner-2">
        <img src="https://colorlib.com/etc/e-shop/img/banner14.jpg" alt="">
        <div class="banner-caption">
            <h2 class="white-color">NEW<br>COLLECTION</h2>
            <button class="primary-btn">Shop Now</button>
        </div>
    </div>
</div>
<!-- /banner -->