<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <%= render 'customer/section-title' %>
            <%= render 'customer/banner' %>
            <%= render 'customer/productslick' %>
        </div>
    </div>
<div>